*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 228, 34);
}
.keepimg
{
    height: 45px;
    width: 45px;
}

li {
    list-style: none;
    
    display: inline-block;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    position: relative;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    background-color: #151617;
    padding: 1rem 1.5rem;
}
.nav-link{
    font-size: 19px;

    color: white;
}

.nav-link:hover{
    color: #f5f827;
}

.nav-logo {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-right:500px ;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
}
.heading{
    margin-top: 2%;
    font-size: 2.5em;
    background-color: rgb(217, 235, 176); 
}
#content{
      margin-top: 2%;
      background-color: rgb(217, 235, 176);
      color: wheat;
       height:75%;
      width:50%;
      padding: 20px;
      /* display: inline block; */
       position: relative; 

}
#content>input{
    height: 50%;
    width: 90%;
     padding: 10px;
    font-size: 15px;
    /* position: relative; */
}
#content>button{
     float:right;  
     height: 35px;
     width: 10%;  
     background-color: rgb(11, 13, 20);
     color:#fff;
     font-size: 16px;
     cursor:pointer ;
     position: absolute;

}
.button:hover{
    background-color: black;
    transition: 05s;

}
@media only screen and (max-width: 850px) {
    
    .navbar,.header,.nav-item{
        flex-direction: column;
    }
}